@import '~antd/dist/antd.css';
.header{
    background-color:floralwhite;
    padding-top: 13px;
}
.login{

}
.cats{
    width:500px;
    height:420px;
}
.content{
    height:550px;
    padding-bottom:100px;
}
.signUp{
    margin-left: 160px;
}
li{

    display:inline-block;
    list-style:none;
    height:25px;
    line-height:25px;
    text-align:center;
    width:30%;
}
.footer{
    background-color: white;
}